body{
    background-color: rgb(9, 132, 214);
}

.box{
    height:600px;
    width:300px;
    background-color: black;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 900px;
    padding-top: 120px;
}

.red{

    height:100px;
    width:100px;
    background-color: red;
    margin-bottom: 100px;
    margin-left: 100px;
    border-radius: 50px;

}

.yellow{

    height:100px;
    width:100px;
    background-color: rgb(255, 221, 0);
    margin-bottom:100px;
    margin-left: 100px;
     border-radius: 50px;


}

.green{

    height:100px;
    width:100px;
    background-color: rgb(0, 255, 13);
    margin: bottom 60px;
    margin-left: 100px;
     border-radius: 50px;


}



